.graduationAppraisal {
    max-width: 1000px;
    margin: 0 auto;
    .graduationAppraisalTitle {
        text-align: center;
        margin-bottom: 30px;
    }
    .gaMain {
        border: 1px solid black;
    }
}
